#footer {
  margin-top: 34px;
  color: #000;

  @include screen("tablet-l") {
    margin-top: 22px;
  }

  .section-top {
    padding: 26px 0;

    @include screen("tablet-l") {
      padding-bottom: 0;
    }

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include screen("tablet-l") {
        align-items: flex-start;
        justify-content: center;
      }
    }

    .social {
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 2.4rem;

      @include screen("tablet-l") {
        display: block;
        padding-bottom: 20px;
        font-size: 2.1rem;
        text-align: center;
      }

      @include screen("max-width", "360px") {
        font-size: 2rem;
      }

      p {
        margin: 0;
        color: inherit;
      }

      .group-btn {
        display: flex;
        align-items: center;
        margin-left: 36px;
        font-weight: 500;
        font-size: 2.2rem;

        @include screen("tablet-l") {
          margin-left: 0;
          margin-top: 10px;
        }

        a {
          display: flex;
          align-items: center;
          position: relative;

          &:not(:first-child) {
            border-left: 1px dashed #d6d6d6;
            padding-left: 18px;
            margin-left: 18px;

            @include screen("tablet-l") {
              border-left: none;
              padding-left: 0;
              margin-left: 10px;
            }
          }

          span {
            @include screen("tablet-l") {
              display: none;
            }
          }
        }

        img {
          min-width: 29px;
          width: 29px;
          margin-right: 12px;

          @include screen("tablet-l") {
            margin-right: 0;
          }
        }
      }
    }

    .contact {
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 2.2rem;

      @include screen("tablet-l") {
        display: block;
        border-left: 1px solid #dedede;
        padding-left: 27px;
        padding-bottom: 20px;
        margin-left: 26px;
        font-size: 2.1rem;
        text-align: center;
      }

      @include screen("max-width", "360px") {
        font-size: 2rem;
      }

      p {
        margin: 0;
        color: inherit;
      }

      .logo-connect {
        width: 128px;
        display: block;
        margin-left: 22px;

        @include screen("tablet-l") {
          width: 122px;
          margin: 10px auto 0;
          margin-top: 5px;
        }

        img {
          width: 100%;
        }
      }
    }
  }

  .section-bottom {
    background-color: #fff;
    box-shadow: 0 -1px 1px rgba(#000, 0.1);

    .container {
      height: 52px;
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        margin: 0;
        font-size: 2rem;
        font-weight: 500;
        color: inherit;

        @include screen("max-width", "360px") {
          font-size: 1.9rem;
        }
      }
    }
  }
}
