.form-style {
  $color-red: #ff6600;
  width: 485px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;

  .btn {
    margin-top: 60px;

    @include screen("mobile-l") {
      margin-top: 25px;
    }

    @include screen("mobile-p") {
      margin-top: 15px;
    }
  }

  &.form-full {
    width: 100%;

    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: -14px;

      .box-input {
        width: calc(50% - 7px);
        margin-bottom: 14px;

        @include screen("mobile-p") {
          width: 100%;
        }

        &.w-full {
          width: 100%;
        }
      }

      .group-form {
        width: calc(50% - 8px);
        background-color: #f5f5f5;
        border-radius: 6px;
        padding: 40px 30px;
        text-align: left;

        h3 {
          margin-bottom: 12px;
        }
      }

      .group-form-hide {
        display: none;

        margin-top: 16px;

        .box-input:last-child {
          margin-bottom: 0;
        }
      }

      .form-radio.checked + .group-form-hide {
        display: block;
      }
    }
  }

  .row {
    & + .row {
      margin-top: 35px;

      @include screen("mobile-p") {
        margin-top: 16px;
      }
    }
  }

  label {
    display: block;
  }

  .text-label {
    width: 100%;
    display: block;
    position: relative;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 2.2rem;
    color: $main-color;

    @include screen("mobile-p") {
      font-size: 2rem;
    }
  }

  .box-input {
    background-color: #fff;
    border: 2px solid $main-color;
    border-radius: 4px;
    position: relative;
    padding: 14px 18px;
    text-align: left;

    @include screen("mobile-p") {
      padding: 12px;
    }

    &.disabled {
      background-color: #f5f5f5;
      border: 1px solid #d6d6d6;
      pointer-events: none;

      .text-label {
        color: $paragraph-color;

        &:after {
          display: none;
        }
      }

      .form-select {
        background-image: none;
      }
    }
  }

  .required .text-label:after {
    content: "*";
    position: absolute;
    right: 0;
    top: 0;
    color: $color-red;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  .form-input,
  .form-select {
    width: 100%;
    height: 24px;
    display: flex;
    align-items: center;
    background: none;
    background-repeat: no-repeat;
    border: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    appearance: none;
    font-weight: 500;
    color: #000;
    transition: 0.15s $easeOut;

    @include placeholder() {
      color: #bababa;
    }
  }

  .form-input::-ms-clear {
    display: none;
  }

  textarea.form-input {
    resize: none;
  }

  .form-select {
    width: calc(100% + 20px);
    background-image: url(../img/icons/dropdown.svg);
    background-position: 100% 50%;
    background-size: 23px;
    padding-left: 20px;
    margin-left: -20px;
    cursor: pointer;
  }

  .form-checkbox {
    $size: 20px;

    input[type="checkbox"] {
      display: none;
    }

    label {
      position: relative;
      padding-left: 30px;
      line-height: 1em;

      &:before,
      &:after {
        content: "";
        width: $size;
        height: $size;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
      }

      &:before {
        background-color: #fff;
        border: 1px solid #ccc;
      }

      &:after {
        background: url(../img/icons/check.svg) 50% 50%/65% no-repeat;
        transform: scale(0);
        transition: 0.1s $easeOut;
      }
    }

    input[type="checkbox"]:checked + label::after {
      transform: scale(1);
    }
  }

  .form-radio {
    $size: 25px;

    & + .form-radio {
      margin-top: 16px;
    }

    input[type="radio"] {
      display: none;
    }

    label {
      min-height: $size;
      position: relative;
      padding-top: 3px;
      padding-left: 36px;
      font-weight: 500;
      font-size: 2.4rem;
      line-height: 0.9;
      color: #000;

      &:before,
      &:after {
        content: "";
        width: $size;
        height: $size;
        display: block;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 0;
      }

      &:before {
        background-color: #fff;
        border: 2px solid $main-color;
      }

      &:after {
        width: 13px;
        height: 13px;
        background-color: $main-color;
        left: 6px;
        top: 6px;
        transform: scale(0);
        transition: 0.1s $easeOut;
      }

      small {
        display: block;
      }
    }

    input[type="radio"]:checked + label::after {
      transform: scale(1);
    }
  }

  .form-search {
    height: 56px;
    border: 2px solid $main-color;
    border-radius: 4px;
    position: relative;

    .easy-autocomplete {
      height: 100%;
    }

    .form-input {
      height: 100%;
      padding: 0 64px 0 14px;

      @include placeholder() {
        color: #000;
      }
    }

    .btn-search {
      width: 28px;
      height: 28px;
      display: block;
      background: none;
      border: none;
      position: absolute;
      right: 18px;
      top: 11px;
      padding: 0;
      appearance: none;
      transition: transform 0.3s $easeOut;

      @include screen("hover") {
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }

  .text-validate {
    display: none;
    position: absolute;
    bottom: -4px;
    margin: 0;
    font-size: 0.8em;
    color: $color-red;
  }

  .error {
    &.box-input {
      border-color: $color-red;
    }

    .form-checkbox,
    .form-radio {
      label {
        color: $color-red;

        &:before {
          border-color: $color-red;
        }
      }
    }

    .text-validate {
      display: block;
    }
  }
}

.select-model {
  display: flex;
  margin: 70px 0;

  @include screen("tablet-p") {
    margin-top: 30px;
  }

  @include screen("mobile-l") {
    margin-bottom: 60px;
  }

  @include screen("mobile-p") {
    display: block;
    margin-right: -15px;
    margin-left: -15px;
  }

  .item {
    width: 33.33%;
    position: relative;
    text-align: left;

    @include screen("mobile-p") {
      width: 100%;
    }

    &:not(:first-child) {
      border-left: 1px solid #fff;

      @include screen("mobile-p") {
        border-left: none;
        border-top: 1px solid #fff;
      }
    }

    label {
      display: block;
      background-color: #f4feff;
      position: relative;
      padding: 45px 28px 30px;
      margin: 0;
      transition: 0.3s $easeOut;

      @include screen("mobile-p") {
        display: flex;
        justify-content: space-between;
        padding: 20px 15px;

        img {
          width: 142px !important;
          min-width: 142px !important;
          margin-top: 15px;
        }
      }
    }

    input {
      display: none;

      &:checked ~ label {
        background-color: #fff;
        margin-top: -8.7%;
        box-shadow: 0 5px 8px rgba(#000, 0.16);
        z-index: 1;

        @include screen("tablet-p") {
          margin-top: 0;
        }

        .check {
          background: $main-color url(../img/icons/check.svg) 50% 50% no-repeat;
        }

        img {
          width: 240px;
          height: auto;

          @include screen("tablet-p") {
            width: auto;
          }
        }

        .text {
          .group-text {
            span {
              &:nth-of-type(2) {
                strong {
                  color: $sub-color;
                }
              }
            }
          }
        }
      }
    }

    .check {
      width: 25px;
      height: 25px;
      display: block;
      border: 2px solid $main-color;
      border-radius: 4px;
      position: absolute;
      right: 22px;
      top: 22px;

      @include screen("mobile-p") {
        right: 12px;
        top: 12px;
      }
    }

    .text {
      display: block;
      margin-top: 20px;

      @include screen("mobile-p") {
        margin-left: 20px;
      }

      .name-model {
        margin: 0;
        font-weight: 500;
        font-size: 3rem;
        color: $main-color;

        @include screen("mobile-l") {
          font-size: 2.8rem;
        }

        @include screen("mobile-p") {
          font-size: 2.6rem;
        }
      }

      .group-text {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-top: 8px;

        @include screen("tablet-p") {
          display: block;
        }

        @include screen("mobile-p") {
          margin-top: 0;
          font-size: 2.4rem;
        }

        span {
          font-weight: normal;
          color: #000;

          &:nth-of-type(2) {
            font-weight: 500;
            font-size: 2.4rem;

            strong {
              font-weight: 700;
              font-size: 3.6rem;
              transition: color 0.3s $easeOut;

              @include screen("mobile-l") {
                font-size: 3.2rem;
              }

              @include screen("mobile-p") {
                font-size: 3.6rem;
              }
            }
          }
        }
      }
    }

    img {
      transition: width 0.3s $easeOut;
    }
  }
}

.disabled-form {
  .box-model {
    margin-bottom: 40px;
  }

  .box-input {
    background-color: #f5f5f5;
    border: 1px solid #d6d6d6;
    pointer-events: none;

    .text-label {
      color: $paragraph-color;

      &:after {
        display: none;
      }
    }

    .form-select {
      background-image: none;
    }
  }

  .select-model {
    margin: 0 0 40px;
    pointer-events: none;

    .item {
      display: none;

      &.checked {
        width: 100%;
        display: block;

        label {
          display: flex;
          align-items: center;
          justify-content: center;
          background: none;
          box-shadow: none;
          padding: 0;
          margin-top: 0;

          .check {
            display: none;
          }
        }

        img {
          width: 300px;
        }

        .text {
          margin-left: 60px;

          @include screen("mobile-l") {
            margin-left: 20px;
          }

          .name-model {
            font-size: 4rem;

            @include screen("mobile-p") {
              font-size: 2.6rem;
            }
          }

          .group-text {
            display: block;
            margin-top: 10px;
            font-size: 2.6rem;

            @include screen("mobile-p") {
              margin-top: 5px;
            }

            span {
              display: block;
              font-size: 2.4rem;

              &:nth-child(2) {
                margin-top: 15px;

                @include screen("mobile-p") {
                  margin-top: 5px;
                }
              }

              strong {
                font-size: 3.6rem;
              }
            }
          }
        }
      }
    }
  }

  .form-radio {
    display: none;
    pointer-events: none;

    &.checked {
      display: block;

      label {
        padding-left: 0;

        &:before,
        &:after {
          display: none;
        }
      }
    }
  }

  .group-btn {
    display: none !important;
  }
}
