#header {
  width: 100%;
  height: $header-height;
  background-color: #fff;
  border-top: 2px solid $main-color;
  box-shadow: 0 2px 2px rgba(#000, 0.16);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 13;

  @include screen("mobile-p") {
    height: $header-height-responsive;
  }

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  img {
    width: 100%;
  }

  .logo {
    width: 154px;
    display: block;

    @include screen("mobile-p") {
      width: 124px;
    }
  }

  .logo-connect {
    width: 184px;
    display: block;

    @include screen("mobile-p") {
      width: 100px;
    }
  }
}
