.list-item {
  position: relative;
  margin-top: 15px;

  &:before {
    content: "";
    width: 100vw;
    height: 1px;
    display: block;
    background-color: #f0f1f1;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }

  .items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -36px;

    @include screen("max-1112") {
      margin: 0 -20px;
    }

    @include screen("tablet-p") {
      margin: 0 -10px;
    }

    @include screen("mobile-l") {
      margin: 0 -15px;
    }

    @include screen("mobile-p") {
      margin: 0;
    }
  }

  .item {
    width: 33.33%;
    border: 1px solid #f0f1f1;
    position: relative;
    padding: 56px 36px;
    margin: 0 -1px -1px 0;

    @include screen("max-1112") {
      padding: 20px;
    }

    @include screen("tablet-p") {
      padding: 10px;
    }

    @include screen("mobile-l") {
      width: 50%;
      padding: 15px;
    }

    @include screen("mobile-p") {
      width: 100%;
      border-right-color: transparent !important;
      border-left-color: transparent !important;
      padding: 44px 0;
    }

    @include screen("min-width", "768px") {
      &:nth-of-type(3n + 1),
      &:nth-of-type(3n) {
        border-left-color: transparent;

        &:before,
        &:after {
          content: "";
          width: 100%;
          height: 1px;
          display: block;
          background-color: #f0f1f1;
          position: absolute;
          right: 0;
          top: -1px;
        }

        &:after {
          top: auto;
          bottom: -1px;
        }
      }

      &:nth-of-type(3n) {
        border-right-color: transparent;

        &:before,
        &:after {
          left: 0;
        }

        &:after {
          top: auto;
          bottom: -1px;
        }
      }
    }

    @include screen("mobile-l") {
      &:nth-of-type(2n + 1),
      &:nth-of-type(2n) {
        border-left-color: transparent;

        &:before,
        &:after {
          content: "";
          width: 100vw;
          height: 1px;
          display: block;
          background-color: #f0f1f1;
          position: absolute;
          right: 0;
          top: -1px;
        }

        &:after {
          top: auto;
          bottom: -1px;
        }
      }

      &:nth-of-type(2n) {
        border-right-color: transparent;

        &:before,
        &:after {
          left: 0;
        }

        &:after {
          top: auto;
          bottom: -1px;
        }
      }
    }

    @include screen("mobile-p") {
      &:nth-of-type(2n + 1),
      &:nth-of-type(2n) {
        &:before,
        &:after {
          right: auto;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }

    .inner {
      background-color: #fff;
      box-shadow: 0 10px 43px rgba(#021849, 0.14);

      @include screen("max-1112") {
        box-shadow: 0 5px 10px rgba(#021849, 0.09);
      }
    }

    .box-img {
      position: relative;
      margin: 0;
      overflow: hidden;

      .category {
        width: 80px;
        height: 74px;
        position: absolute;
        left: 0;
        top: 0;
        font-size: 1.8rem;
        color: #fff;

        a {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $main-color;
          transition: background-color 0.3s $easeOut;

          &[href]:hover {
            @include screen("hover") {
              background-color: #000;
            }
          }
        }
      }
    }

    .box-detail {
      padding: 24px 24px 36px;

      .date {
        margin: 0 0 8px;
        font-size: 1.8rem;
        color: #4a4a4a;
      }

      h3 {
        height: 48px;
        margin: 0 0 10px;
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 1;
        color: $main-color;
        overflow: hidden;
      }

      p:not(.date) {
        height: 48px;
        margin: 0;
        overflow: hidden;
      }
    }
  }

  .owl-item {
    .item {
      width: 100% !important;
      border: none !important;
      padding: 0;

      &:before,
      &:after {
        display: none !important;
      }
    }
  }
}
