.fancybox__backdrop {
  background-color: rgba(#000, 0.6);
}

.carousel__button.is-close {
  width: 30px !important;
  height: 30px !important;
  background: url(../img/icons/close.svg) 0 0/100% no-repeat !important;
  right: 20px !important;
  top: 20px !important;

  @include screen("mobile-p") {
    width: 25px !important;
    height: 25px !important;
  }

  svg {
    display: none !important;
  }
}

#popup {
  width: 1146px;
  max-width: calc(100vw - 28px);
  background-color: #fff;
  border-radius: 8px;
  position: relative;
  padding: 0 16px;
  margin: 20px 0;

  * {
    box-sizing: border-box;
  }

  .inner {
    width: 550px;
    max-width: 100%;
    padding: 80px 0 60px;
    margin: 0 auto;
    text-align: center;
  }

  h2 {
    margin: 0 0 15px;
    font-weight: 500;
    font-size: 4rem;
    color: $main-color;

    @include screen("mobile-p") {
      font-size: 2.8rem;
    }
  }

  .box-bg {
    background-color: #fefaf6;
    border-radius: 6px;
    padding: 40px 25px;
    font-weight: normal;

    @include screen("mobile-p") {
      padding: 20px 20px;
    }

    p {
      margin: 0;
    }

    strong {
      font-weight: 500;
    }
  }

  .box-remark {
    margin-top: 20px;
    font-weight: normal;

    strong {
      font-weight: 500;
      color: $main-color;
    }
  }

  .btn {
    margin-top: 20px;
  }

  &.popup-full-register {
    height: 486px;
    background: url(../img/share/bg-popup.jpg) 50% 0 / cover no-repeat;

    @include screen("tablet-p") {
      background-position: 30% 0;
    }

    @include screen("mobile-l") {
      background-position: 50% 0;
    }

    @include screen("mobile-p") {
      background-image: url(../img/share/bg-popup-mobile.jpg);
      background-position: 0 0;
    }

    .carousel__button.is-close {
      display: none !important;
    }

    .inner {
      padding-top: 110px;

      @include screen("tablet-p") {
        padding-top: 80px;
      }
    }

    h2 {
      margin-bottom: 20px;
      font-size: 3.9rem;

      @include screen("mobile-p") {
        margin-bottom: 10px;
        font-size: 3.3rem;

        br {
          display: none;
        }
      }
    }

    .logo-m-series {
      @include screen("mobile-p") {
        width: 130px;
      }
    }

    p {
      margin: 0;
      font-size: 2.6rem;

      @include screen("mobile-p") {
        font-size: 2.5rem;

        br {
          display: none;
        }
      }

      strong {
        display: block;
        margin-bottom: 10px;
        font-size: 3.6rem;

        @include screen("mobile-p") {
          font-size: 2.6rem;
        }
      }
    }

    .btn {
      margin-top: 25px;
    }
  }
}
