.table-style {
  $padding-table: 14px 10px;

  width: 100%;
  overflow: hidden;
  overflow-x: auto;

  table {
    width: 100%;
    min-width: 670px;
    border-collapse: collapse;
    border: 0;
    text-align: center;

    thead {
      th {
        background-color: #fff;
        border-bottom: 1px solid $main-color;
        padding: $padding-table;
        font-weight: 500;
        color: $main-color;

        &:nth-child(2) {
          text-align: left;
        }
      }
    }

    tbody {
      td {
        background-color: #fff;
        padding: $padding-table;
        vertical-align: top;

        &:nth-child(2) {
          width: 200px;
          text-align: left;
        }
      }

      tr:nth-of-type(even) td {
        background-color: #f6feff;
      }

      tr:last-child {
        td {
          border-bottom: 1px solid $main-color;
        }
      }
    }

    tfoot {
      td {
        background-color: #1f1f1f;
        padding: $padding-table;
        font-size: 2.4rem;
        color: #fff;

        &:nth-of-type(1) {
          border-left: 1px solid #6e6e6e;
          color: #000;
        }
      }
    }
  }
}
