.accordion {
  .item {
    border-bottom: 1px solid #ccc;
    padding-bottom: 28px;

    &>a {
      display: block;
      position: relative;
      padding-right: 50px;
      margin-bottom: 0;

      &:after {
        content: '+';
        width: 30px;
        height: 30px;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 47px;
        line-height: 30px;
        text-align: center;
        color: #1595d3;
      }
    }

    .item-content {
      display: none;
      margin-top: 25px;
      color: #919195;
      overflow: hidden;
    }

    &.active {
      &>a::after {
        content: '-';
      }

      .item-content {
        display: block;
      }
    }
  }

  .item+.item {
    margin-top: 28px;
  }
}