.banner-page {
  position: relative;
  
  .banner {
    position: relative;

    @include screen('tablet-p') {
      height: 250px;
    }

    img:not(.img-mock) {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover;
    }
  }

  .box-text {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    text-shadow: 0 2px 5px rgba(#000, 0.5);

    .container {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    h1 {
      margin: 0 0 10px;
      font-size: 5.2rem;

      @include screen('min-width', '1800px') {
        transform: scale(1.2);
        transform-origin: left bottom;
      }

      @include screen('mobile-p') {
        font-size: 4rem;
      }
    }

    p {
      width: 380px;
      max-width: 100%;
      margin: 0;
      
      @include screen('min-width', '1800px') {
        width: 450px;
        transform: scale(1.2);
        transform-origin: left bottom;
      }
    }
  }
}