.box-editor {
  h1 {
    margin: 0 0 25px;
    font-size: 40px;
    color: $main-color;

    @include screen("mobile-p") {
      font-size: 3.6rem;
      margin-bottom: 20px;

      br {
        display: none;
      }
    }
  }

  h2 {
    margin-bottom: 25px;
    font-size: 3rem;
    color: #000;

    @include screen("mobile-p") {
      font-size: 2.8rem;
    }
  }

  h3 {
    margin-bottom: 15px;
    font-size: 2.6rem;
    color: #000;

    @include screen("mobile-p") {
      font-size: 2.4rem;
    }
  }

  p {
    margin-bottom: 20px;
  }

  span.line {
    width: 100%;
    height: 1px;
    display: block;
    border-top: 1px dashed #d6d6d6;
    padding-top: 40px;
    margin-top: 70px;

    @include screen("mobile-p") {
      padding-top: 20px;
      margin-top: 40px;
    }
  }

  ul {
    $size: 6px;

    padding: 0;
    margin: 0 0 1rem;
    list-style: none;

    & > li {
      position: relative;
      padding-left: 12px;
      margin: 0 0 10px;
    }

    & > li:before {
      content: "";
      width: $size;
      height: 1px;
      display: block;
      background-color: $paragraph-color;
      position: absolute;
      left: 0;
      top: 11px;

      @include screen("mobile-p") {
        top: 9px;
      }
    }
  }

  ol {
    padding: 0;
    margin: 0 0 1rem;
    list-style: none;
    counter-reset: number;

    & > li {
      position: relative;
      padding-left: 25px;
      margin: 0 0 20px;
    }

    & > li:before {
      counter-increment: number;
      content: counters(number, ".") ".";
      position: absolute;
      left: 0;
      top: 0;
    }

    ol > li {
      padding-left: 3.2rem;
      margin-bottom: 8px;

      ol > li {
        padding-left: 4.4rem;

        ol > li {
          padding-left: 5.5rem;
        }
      }
    }

    ol > li:before {
      content: counters(number, ".") "";
    }
  }
}
