.breadcrumb {
  background-color: $main-color;
  padding: 16px 0 0;
  font-size: 2rem;
  color: #fff;

  .container {
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    overflow-x: auto;
  }

  .btn-breadcrumb {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding-right: 30px;
    margin-right: 20px;
    margin-bottom: 16px;
    white-space: nowrap;

    &:before {
      content: '';
      width: 1px;
      height: 20px;
      display: block;
      background-color: #276aa5;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -10px;
    }

    &:last-child {
      padding-right: 0;
      margin-right: 0;


      &:before {
        display: none;
      }
    }
  }
}