.btn {
  min-width: 316px;
  height: 56px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  background: $main-color url(../img/share/glass-btn.png) 100% 0 no-repeat;
  border: none;
  border-radius: 4px;
  padding: 0 20px;
  margin: 0;
  font-weight: 500;
  font-size: 3rem;
  color: #fff !important;
  appearance: none;
  box-shadow: 0 3px 3px rgba(#000, 0.2);
  transition: transform 0.3s $easeOut;

  &:hover {
    @include screen("hover") {
      transform: scale(1.08);
    }
  }

  @include screen("mobile-p") {
    min-width: 100%;
    max-width: 100%;
  }

  span {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      order: -1;
      margin: 0 12px 0 0;
    }
  }

  &.-outline {
    background: none;
    border: 2px solid $main-color;
    color: $main-color !important;
    box-shadow: none;
  }

  &.-link {
    min-width: 0;
    height: auto;
    display: inline;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
    font-weight: inherit !important;
    font-size: inherit !important;
    color: inherit !important;
    transform: scale(1) !important;
  }
}

.btn-back {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $main-color;
  border-radius: 4px;
  box-shadow: 0 2px 3px rgba(#000, 0.16);
  transition: transform 0.3s $easeOut;

  @include screen("mobile-p") {
    width: 38px;
    height: 38px;

    img {
      transform: scale(0.7);
    }
  }

  &:hover {
    @include screen("hover") {
      transform: scale(1.08);
    }
  }
}

.btn-downloading,
.btn-back-customer-list,
.btn-personal {
  background-color: $sub-color;
  margin-top: 0 !important;
}
