.list-bullet {
  $size: 6px;

  padding: 0;
  margin: 0 0 1rem;
  list-style: none;

  &>li {
    position: relative;
    padding-left: 12px;
    margin: 0 0 10px;
  }

  &>li:before {
    content: '';
    width: $size;
    height: 1px;
    display: block;
    background-color: #000;
    position: absolute;
    left: 0;
    top: 11px;

    @include screen('mobile-p') {
      top: 9px;
    }
  }
}



.list-number {
  padding: 0;
  margin: 0 0 1rem;
  list-style: none;
  counter-reset: number;

  &>li {
    position: relative;
    padding-left: 20px;
    margin: 0 0 10px;
  }

  &>li:before {
    counter-increment: number;
    content: counters(number, '.') '.';
    position: absolute;
    left: 0;
    top: 0;
  }

  .list-number>li {
    padding-left: 3.2rem;

    .list-number>li {
      padding-left: 4.4rem;

      .list-number>li {
        padding-left: 5.5rem;
      }
    }
  }

  .list-number>li:before {
    content: counters(number, '.') '';
  }
}