.box-loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 131313;
  transition: opacity 0.3s $easeOut, visibility 0.3s $easeOut;

  &.hide {
    opacity: 0;
    visibility: hidden;
  }


  .loading {
    width: 80px;
    height: 80px;
    position: relative;
    margin: 0 auto;

    div {
      width: 6px;
      height: 6px;
      background: $main-color;
      border-radius: 50%;
      position: absolute;
      animation: loading 1.2s linear infinite;

      &:nth-child(1) {
        left: 66px;
        top: 37px;
        animation-delay: 0s;
      }

      &:nth-child(2) {
        left: 62px;
        top: 22px;
        animation-delay: -0.1s;
      }

      &:nth-child(3) {
        left: 52px;
        top: 11px;
        animation-delay: -0.2s;
      }

      &:nth-child(4) {
        left: 37px;
        top: 7px;
        animation-delay: -0.3s;
      }

      &:nth-child(5) {
        left: 22px;
        top: 11px;
        animation-delay: -0.4s;
      }

      &:nth-child(6) {
        left: 11px;
        top: 22px;
        animation-delay: -0.5s;
      }

      &:nth-child(7) {
        left: 7px;
        top: 37px;
        animation-delay: -0.6s;
      }

      &:nth-child(8) {
        left: 11px;
        top: 52px;
        animation-delay: -0.7s;
      }

      &:nth-child(9) {
        left: 22px;
        top: 62px;
        animation-delay: -0.8s;
      }

      &:nth-child(10) {
        left: 37px;
        top: 66px;
        animation-delay: -0.9s;
      }

      &:nth-child(11) {
        left: 52px;
        top: 62px;
        animation-delay: -1s;
      }

      &:nth-child(12) {
        left: 62px;
        top: 52px;
        animation-delay: -1.1s;
      }
    }
  }

  @keyframes loading {

    0%,
    20%,
    80%,
    100% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.5);
    }
  }
}