.pagination {
  width: 100%;
  position: relative;
  margin-top: 75px;
  padding-top: 62px;

  @include screen('mobile-p') {
    margin-top: 40px;
    padding-top: 40px;
  }

  &:before {
    content: '';
    width: 100vw;
    height: 1px;
    display: block;
    background-color: #f0f1f1;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
  
  .group-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      border: 1px solid $light-blue;
      font-weight: 700;
      font-size: 3.4rem;
      color: $light-blue !important;
      transition: background-color 0.3s $easeOut;

      @include screen('mobile-p') {
        width: 40px;
        height: 40px;
        font-size: 2.8rem;
      }

      &+a {
        margin-left: 26px;

        @include screen('mobile-p') {
          margin-left: 10px;
        }
      }

      &:hover {
        @include screen('hover') {
          background-color: $light-blue;
          color: #fff !important;
        }
      }
      
      &.active {
        background-color: $light-blue;
        color: #fff !important;
      }

      &.btn-prev,
      &.btn-next {
        width: auto;
        background-color: transparent !important;
        border: none !important;
        font-size: 2.8rem;
        color: $main-color !important;

        @include screen('mobile-p') {
          font-size: 2.4rem;
        }

        &.disabled {
          color: #787878 !important;
        }
      }

      &.btn-prev {
        margin-right: 52px;

        @include screen('mobile-p') {
          margin-right: 20px;
        }

        &+a {
          margin-left: 0;
        }
      }

      &.btn-next {
        margin-left: 52px;

        @include screen('mobile-p') {
          margin-left: 20px;
        }
      }
    }
  }
}