.social {
  .group-btn {
    display: flex;
    align-items: center;
    
    a {
      width: 38px;
      height: 38px;
      display: block;
      background: 50% 50%/100% no-repeat;
      border: 1px solid #88a8c4;
      border-radius: 5px;
      transition: background-color 0.3s $easeOut, border-color 0.3s $easeOut;

      &+a {
        margin-left: 8px;
      }

      &:hover {
        @include screen('hover') {
          background-color: #fff;
          border-color: #fff;
        }
      }


      &.facebook {
        background-image: url(../img/icons/social-facebook-gray.svg);

        &:hover {
          @include screen('hover') {
            background-image: url(../img/icons/social-facebook.svg);
          }
        }
      }
      &.youtube {
        background-image: url(../img/icons/social-youtube-gray.svg);

        &:hover {
          @include screen('hover') {
            background-image: url(../img/icons/social-youtube.svg);
          }
        }
      }
      &.instagram {
        background-image: url(../img/icons/social-instagram-gray.svg);

        &:hover {
          @include screen('hover') {
            background-image: url(../img/icons/social-instagram.svg);
          }
        }
      }
      &.linkedin {
        background-image: url(../img/icons/social-linkedin-gray.svg);

        &:hover {
          @include screen('hover') {
            background-image: url(../img/icons/social-linkedin.svg);
          }
        }
      }
      &.line {
        background-image: url(../img/icons/social-line-gray.svg);

        &:hover {
          @include screen('hover') {
            background-image: url(../img/icons/social-line.svg);
          }
        }
      }
    }
  }
}