.agent-management-page {
  .title-page {
    margin-bottom: 25px;

    @include screen("mobile-p") {
      margin-bottom: 15px;
    }
  }

  .box-bg {
    background-color: #f6feff;
    border-radius: 4px;
    padding: 40px;
    margin-bottom: 35px;
    font-weight: 500;
    font-size: 3rem;
    text-align: center;

    @include screen("mobile-p") {
      margin-bottom: 15px;
      padding: 18px;
      font-size: 2.6rem;
    }

    p {
      margin: 0;
    }
  }

  .box-group-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;

    @include screen("mobile-p") {
      flex-direction: column;
    }

    form {
      width: 100%;
    }

    .form-search {
      width: 100%;
    }

    .btn {
      margin-left: 22px;

      @include screen("mobile-l") {
        min-width: 45%;
        margin-left: 8px;
      }

      @include screen("mobile-p") {
        min-width: 0;
        width: 100%;
        margin-left: 0;
        margin-bottom: 20px;
        order: -1;
      }
    }
  }

  .btn-edit {
    display: block;
    transition: transform 0.3s $easeOut;

    @include screen("hover") {
      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .table-style {
    padding-bottom: 25px;
  }

  .box-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;

    .btn {
      min-width: 0;
    }
  }
}
