.agent-login-page {
  .text-forgot-password {
    margin-top: 40px;
    font-weight: 500;
    text-align: center;
    font-size: 2.5rem;

    @include screen("mobile-p") {
      margin-top: 30px;
      font-size: 2.4rem;
    }

    strong {
      color: $main-color;
    }
  }
}
