.confirm-otp-page {
  .title-page {
    margin-bottom: 16px;

    .sub-title + .sub-title {
      margin-top: 20px;
    }
  }

  .telephone-number {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    border-radius: 4px;
    margin: 0 0 16px;
    font-weight: 500;
    font-size: 3.2rem;
    color: #000;
  }

  .box-resend {
    margin-top: 20px;
    text-align: center;

    p {
      font-weight: 500;

      strong {
        font-weight: 500;
        color: $main-color;
      }
    }
  }

  .btn-submit {
    margin-top: 30px;
  }

  .box-change-telephone-number {
    border-top: 1px dashed #d6d6d6;
    padding-top: 40px;
    margin-top: 40px;

    .btn {
      margin-top: 0;
    }
  }
}
