.home-page {
  padding-bottom: 102px;

  @include screen("tablet-p") {
    padding-bottom: 146px;
  }

  .container {
    width: 1220px;

    .title-section {
      margin: 0;
      font-weight: 700;
      font-size: 7rem;
      color: $main-color;

      @include screen("tablet-p") {
        font-size: 6rem;
      }

      @include screen("mobile-p") {
        font-size: 5.5rem;
      }
    }
  }

  .fixed-position {
    width: 100%;
    height: 102px;
    display: flex;
    align-items: end;
    background: url(../img/home/bg-shadow.png) repeat-x;
    position: fixed;
    left: 0;
    bottom: -100%;
    z-index: 13;
    transition: bottom 0.3s $easeOut;

    @include screen("tablet-l") {
      bottom: 0 !important;
    }

    @include screen("mobile-p") {
      height: 146px;
      align-items: center;
      background-image: none;
      background-color: rgba(#000, 0.37);
    }

    .show-fixed-position & {
      bottom: 0;
    }

    .group-btn {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 15px;
      margin-bottom: 18px;

      @include screen("mobile-p") {
        flex-direction: column;
        margin-bottom: 0;
      }

      .btn {
        width: 392px;
        display: flex;

        @include screen("tablet-p") {
          width: 50%;
          min-width: 0;
          font-size: 2.6rem;
        }

        @include screen("mobile-l") {
          font-size: 2.3rem;
        }

        @include screen("mobile-p") {
          width: 100%;
          font-size: 2.7rem;
        }

        @include screen("max-width", "375px") {
          font-size: 2.4rem;
        }

        &:nth-child(2) {
          margin-left: 14px;

          @include screen("mobile-p") {
            margin-left: 0;
            margin-top: 10px;
          }
        }
      }
    }
  }

  .section-highlight-content {
    height: 880px;
    position: relative;

    @include screen("tablet-l") {
      height: 710px;
    }

    .box-img-bg {
      width: 1920px;
      height: 100%;
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);

      @include screen("tablet-l") {
        width: 170%;
        margin-left: -40px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      @include screen("mobile-p") {
        width: 101%;
        margin-left: 0;
      }
    }

    .box-text {
      position: absolute;
      left: 50%;
      top: 40px;
      transform: translateX(-50%);
      margin-left: 380px;
      color: #000;
      text-align: center;
      z-index: 1;

      @include screen("max-1112") {
        left: auto;
        right: 20px;
        transform: translateX(0);
        margin-left: 0;
      }

      @include screen("tablet-l") {
        transform: scale(0.85);
        transform-origin: top;
      }

      @include screen("tablet-p") {
        right: -30px;
        top: 25px;
        transform: scale(0.8);
      }

      @include screen("mobile-l") {
        right: -45px;
        top: 55px;
        transform: scale(0.75);
      }

      @include screen("mobile-p") {
        width: 100%;
        right: 0;
        top: 30px;
        transform: scale(1);
      }

      .text-title {
        max-width: none;

        @include screen("mobile-p") {
          width: 266px;
        }
      }

      .detail {
        margin-top: 22px;

        @include screen("mobile-p") {
          margin-top: 12px;
        }

        p {
          margin: 0;
          line-height: 1;
          font-weight: 500;

          &:nth-child(1) {
            font-size: 3.7rem;

            @include screen("mobile-p") {
              font-size: 2.6rem;

              br {
                display: none;
              }
            }
          }
          &:nth-child(2) {
            margin-top: -15px;
            font-size: 3.4rem;

            @include screen("mobile-p") {
              margin-top: -5px;
              font-size: 2.5rem;
            }
          }

          strong {
            padding: 0 10px;
            font-weight: 700;
            font-size: 6.6rem;
            color: #ea4126;

            @include screen("mobile-p") {
              font-size: 4.3rem;
            }
          }
        }
      }

      .box-proposal {
        margin-top: 10px;
        font-weight: 700;
        font-size: 4rem;
        line-height: 0.8;

        @include screen("mobile-p") {
          margin-top: -5px;
          font-size: 2.7rem;
        }

        span {
          color: #ea4126;
        }

        small {
          font-weight: 500;
          font-size: 2.4rem;
          color: #fff;

          @include screen("mobile-p") {
            font-size: 2.2rem;
            color: #000;
          }
        }

        .number {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 12px;
          margin-bottom: 5px;

          p {
            width: 44px;
            height: 62px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: url(../img/home/highlight-content-bg-number.svg) 0 0/100%
              no-repeat;
            position: relative;
            margin: 0;

            @include screen("mobile-p") {
              width: 34px;
              height: 50px;
            }

            &:not(:first-child) {
              margin-left: 4px;
            }

            &:after {
              content: "";
              width: 42px;
              height: 30px;
              background-color: rgba(#000, 0.24);
              border-bottom-right-radius: 3px;
              border-bottom-left-radius: 3px;
              position: absolute;
              left: 0;
              bottom: 0;

              @include screen("mobile-p") {
                width: 32px;
                height: 25px;
                left: 1px;
                bottom: 1px;
              }
            }

            span {
              display: block;
              position: relative;
              font-weight: 700;
              font-size: 5.4rem;
              color: #fff;

              @include screen("mobile-p") {
                font-size: 4.1rem;
              }
            }
          }
        }
      }

      .group-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;

        @include screen("tablet-l") {
          display: none;
        }

        .btn {
          width: 390px;
          display: flex;

          & + .btn {
            margin-top: 15px;
          }
        }
      }
    }
  }

  .section-promotion {
    position: relative;
    margin-top: -195px;

    @include screen("mobile-p") {
      margin-top: -130px;
    }

    .img-promotion {
      width: 100%;
      max-width: 1920px;
      height: 726px;
      margin: 0 auto;

      @include screen("max-1112") {
        width: 108%;
        height: 58vw;
      }

      @include screen("mobile-p") {
        width: 101%;
        height: auto;
        margin-left: -1%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .section-video {
    margin-top: 74px;

    @include screen("tablet-p") {
      margin-top: 40px;
    }

    @include screen("mobile-p") {
      margin-top: 24px;
    }

    .video {
      position: relative;
      padding-top: 56.25%;

      @include screen("max-1112") {
        width: calc(100% + 30px);
        margin-right: -15px;
        margin-left: -15px;
      }

      &:before {
        content: "";
        width: calc(100% - 110px);
        height: calc(100% - 55px);
        display: block;
        background-color: #000;
        position: absolute;
        left: 55px;
        bottom: 0;
        box-shadow: 0 22px 26px rgba(#000, 0.2);

        @include screen("mobile-p") {
          width: calc(100% - 30px);
          left: 15px;
        }
      }

      iframe {
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }

  .section-special-strength {
    margin-top: 120px;

    @include screen("max-1112") {
      margin-top: 60px;
    }

    .title-section {
      display: inline-block;
      margin-bottom: 20px;
      line-height: 0.9;

      @include screen("mobile-l") {
        padding-left: 0 !important;
      }

      @include screen("mobile-p") {
        .logo-m-series {
          width: 220px;
        }
      }

      @include screen("max-width", "360px") {
        .logo-m-series {
          width: 200px;
        }
      }
    }

    .title-section,
    .list-content .box-text {
      padding-left: 85px;

      @include screen("max-1112") {
        padding-left: 20px;
      }
    }

    .list-content {
      .item {
        display: flex;
        justify-content: space-between;

        @include screen("mobile-l") {
          display: block;
        }

        &:not(:first-child) {
          @include screen("mobile-l") {
            margin-top: 50px;
          }
        }

        &:nth-child(even) {
          .box-text {
            width: 510px;
            padding-right: 0;
            padding-left: 20px;
            margin-right: 20px;
            margin-left: auto;
            order: 1;

            &:after {
              right: 0;
            }
          }
        }
      }

      .box-text {
        padding-top: 60px;
        padding-right: 20px;

        @include screen("max-1112") {
          padding-top: 20px;
        }

        @include screen("mobile-l") {
          width: 100% !important;
          padding: 0 !important;
          margin-top: 0;
          margin-right: 0;
          margin-bottom: -20px;
        }

        &:before,
        &:after {
          content: "";
          display: block;
          background: 0 0/100% no-repeat;
        }

        &:before {
          width: 53px;
          height: 40px;
          background-image: url(../img/icons/quote-open.svg);
          margin-bottom: 20px;

          @include screen("tablet-p") {
            width: 43px;
            height: 32px;
            margin-bottom: 10px;
          }
        }

        &:after {
          width: 80px;
          height: 60px;
          background-image: url(../img/icons/quote-close.svg);
          position: relative;
          right: -80px;
          margin-left: auto;

          @include screen("tablet-p") {
            width: 60px;
            height: 48px;
            right: 0;
          }

          @include screen("mobile-l") {
            width: 80px;
            height: 60px;
            margin-top: 30px;
          }
        }

        h3 {
          margin: 0 0 16px;
          font-weight: 700;
          font-size: 5.4rem;
          line-height: 0.9;
          color: #000;

          @include screen("max-1112") {
            font-size: 5rem;
          }

          @include screen("tablet-p") {
            margin-bottom: 10px;
            font-size: 3.6rem;
          }

          @include screen("mobile-l") {
            font-size: 4.4rem;
          }

          @include screen("mobile-p") {
            @include screen("max-width", "360px") {
              font-size: 4.2rem;
            }
          }
        }

        p {
          margin: 0;
          font-size: 2.6rem;

          @include screen("tablet-p") {
            font-size: 2.3rem;

            br {
              display: none;
            }
          }

          @include screen("mobile-l") {
            font-size: 2.4rem;
          }
        }
      }

      .img {
        max-width: 50%;

        @include screen("tablet-p") {
          min-width: 50%;
        }

        @include screen("mobile-l") {
          width: calc(100% + 30px);
          max-width: inherit;
          margin-right: -15px;
          margin-left: -15px;
        }

        img {
          width: 100%;
        }
      }
    }
  }

  .section-feature {
    min-height: 400px;
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;
    margin-top: 72px;

    .leaf {
      position: absolute;
      left: 50%;
      top: -105px;
      transform: translateX(-50%);
      margin-left: 620px;
      z-index: 1;
      pointer-events: none;

      img {
        max-width: none;
      }
    }

    .box-img-bg {
      width: 1920px;
      height: 100%;
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);

      @include screen("mobile-p") {
        width: 101%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .list-feature {
      display: flex;
      justify-content: space-between;
      margin: 0 auto 74px;
      text-align: center;
      color: #fff;

      @include screen("tablet-l") {
        width: 80%;
        flex-wrap: wrap;
        margin-bottom: 10px;

        .item {
          width: 33.33%;
          margin-bottom: 20px !important;
        }
      }

      @include screen("mobile-l") {
        width: 100%;
      }

      @include screen("mobile-p") {
        margin-top: 80px;
        margin-bottom: 20px;

        .item {
          width: 50%;
        }
      }

      .item:not(:first-child) {
        border-left: 1px dashed rgba(#fff, 0.53);
        padding-left: 30px;
        margin-left: 30px;

        @include screen("tablet-l") {
          border: none;
          padding: 0;
          margin: 0;
        }
      }

      .icon {
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 16px;

        @include screen("mobile-p") {
          height: 50px;
          margin-bottom: 10px;

          img {
            transform: scale(0.85);
          }
        }
      }

      p {
        margin: 0;
        font-weight: 500;
        font-size: 2.6rem;

        @include screen("max-1112") {
          font-size: 2.3rem;
        }

        @include screen("mobile-p") {
          font-size: 2rem;
        }
      }
    }
  }

  .section-model {
    background: url(../img/home/bg-gradient.png) repeat-x;
    padding-top: 90px;

    @include screen("tablet-p") {
      background-position: 0 -100px;
    }

    @include screen("mobile-p") {
      padding-top: 70px;
    }

    .title-section {
      @include screen("mobile-p") {
        text-align: center;
      }
    }

    .list-model {
      display: flex;
      justify-content: space-between;
      position: relative;
      margin-top: 80px;
      margin-bottom: 100px;

      @include screen("tablet-p") {
        margin: 40px 0;
      }

      @include screen("mobile-p") {
        display: block;
        margin-bottom: 0;
      }

      .item {
        position: relative;

        @include screen("hover") {
          &:hover {
            .badge {
              transform: scale(1.15);
            }
          }
        }

        @include screen("mobile-p") {
          display: block;

          & + .item {
            margin-top: 60px;
          }
        }

        .img {
          position: relative;

          @include screen("mobile-p") {
            width: 305px;
          }

          .badge {
            width: 110px;
            height: 110px;
            background-color: rgba(#fff, 0.41);
            border-radius: 50%;
            box-shadow: 0 3px 6px rgba(#000, 0.16);
            padding: 8px;
            position: absolute;
            right: 0;
            top: -30px;
            text-align: center;
            font-weight: 700;
            font-size: 2.5rem;
            color: #fff;
            transition: transform 0.3s $easeOut;

            @include screen("tablet-l") {
              width: 100px;
              height: 100px;
              padding: 6px;
              font-size: 2.2rem;
            }

            @include screen("tablet-p") {
              transform: scale(0.8);
            }

            @include screen("mobile-l") {
              transform: scale(0.7);
            }

            @include screen("mobile-p") {
              width: 110px;
              height: 110px;
              right: -30px !important;
              padding: 8px;
              transform: scale(1);
              font-size: 2.5rem;
            }

            p {
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              background-color: $main-color;
              border-radius: 50%;
              margin: 0;

              img {
                margin-bottom: 5px;
              }
            }
          }
        }

        .text {
          margin-top: 20px;
          text-align: center;

          @include screen("mobile-p") {
            display: flex;
            align-items: start;
            justify-content: space-between;
            margin-left: 0;
            margin-top: 10px;
            text-align: left;
          }

          h3 {
            margin: 0;
            font-weight: 500;
            font-size: 3.2rem;
            line-height: 0.9;
            color: #000;

            @include screen("tablet-l") {
              font-size: 3rem;
            }

            strong {
              display: block;
              font-weight: 500;
              font-size: 4.1rem;

              @include screen("tablet-l") {
                font-size: 3.9rem;
              }

              @include screen("mobile-p") {
                display: block;
                padding-left: 0;
              }
            }
          }

          img {
            margin-top: 8px;
            margin-bottom: 12px;

            @include screen("mobile-p") {
              margin-left: 0;
            }
          }

          p {
            margin: 0;
            font-weight: 700;
            font-size: 3.5rem;
            color: $main-color;

            @include screen("tablet-l") {
              font-size: 3.3rem;
            }

            @include screen("tablet-p") {
              font-size: 3.5rem;
            }

            &.price {
              margin-top: 5px;
              font-weight: 500;
              font-size: 2.4rem;
              color: #000;

              @include screen("mobile-p") {
                margin-top: 5px;
                text-align: right;
              }

              small {
                display: block;
                font-size: 1em;
                color: $paragraph-color;

                @include screen("mobile-p") {
                  display: block;
                }
              }

              strong {
                display: block;
                margin: 4px 0;
                font-weight: 700;
                font-size: 4.6rem;
                color: $sub-color;

                @include screen("tablet-l") {
                  font-size: 4.4rem;
                }

                @include screen("mobile-p") {
                  display: block;
                  padding: 0;
                }
              }
            }
          }
        }

        a {
          width: 100%;
          height: 100%;
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          text-indent: -9999px;
        }
      }
    }
  }
}
