.privacy-policy-page {
  .box-content {
    font-size: 2.5rem;

    @include screen("mobile-p") {
      font-size: 2.4rem;
    }

    .inner {
      padding: 65px 120px 60px;

      @include screen("max-1112") {
        padding: 50px 60px;
      }

      @include screen("mobile-l") {
        padding: 40px;
      }

      @include screen("mobile-p") {
        padding: 24px 18px 50px;
      }
    }

    h1 {
      br {
        display: block !important;
      }
    }

    a {
      word-break: break-all !important;
    }

    .btn {
      width: 316px;
      display: flex;
      margin: 70px auto 0;
    }
  }
}
