.register-page {
  .progress {
    .inner {
      padding-top: 40px;
      padding-bottom: 40px;

      @include screen("mobile-p") {
        padding-top: 20px;
      }
    }

    .items {
      width: 580px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      margin: 0 auto;

      @include screen("mobile-l") {
        width: 425px;
      }

      @include screen("mobile-p") {
        width: 100%;
      }

      &:before {
        content: "";
        width: calc(100% - 120px);
        height: 1px;
        border-top: 1px dashed #cccccc;
        position: absolute;
        left: 50%;
        top: 30px;
        transform: translateX(-50%);

        @include screen("mobile-p") {
          top: 25px;
        }
      }
    }

    .item {
      text-align: center;

      &:not(:first-child) {
        padding-left: 130px;

        @include screen("mobile-l") {
          padding-left: 50px;
        }

        @include screen("mobile-p") {
          padding-left: 62px;
        }
      }

      &.active {
        .icon {
          background-color: $main-color;

          img {
            display: none !important;

            &:nth-of-type(2) {
              display: block !important;
            }
          }
        }

        p {
          color: $main-color;

          @include screen("mobile-p") {
            display: block;
          }
        }
      }

      &:nth-of-type(1) {
        .icon {
          img {
            left: 2px;
          }
        }
      }

      .icon {
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #d6d6d6;
        border-radius: 50%;
        position: relative;
        margin: 0 auto 15px;

        @include screen("mobile-p") {
          width: 50px;
          height: 50px;
        }

        img {
          display: none;
          position: relative;

          &:nth-of-type(1) {
            display: block;
          }

          @include screen("mobile-p") {
            transform: scale(0.8);
          }
        }
      }

      p {
        margin: 0;
        font-weight: 500;
        font-size: 2.4rem;

        @include screen("mobile-p") {
          width: 100%;
          display: none;
          position: absolute;
          left: 0;
          bottom: -24px;
          font-size: 2.6rem;
        }
      }
    }
  }

  .register-form {
    &#form-step-01 {
      a.btn-back {
        display: none;
      }

      .title-profile {
        display: block !important;
      }

      .box-profile {
        display: block;
      }

      .group-btn {
        @include screen("mobile-p") {
          margin-top: 40px;
        }

        .btn-cancel,
        .btn-submit {
          display: none;
        }
      }
    }

    &#form-step-02 {
      .title-model {
        display: block !important;
      }

      .box-model {
        display: block;
      }

      .group-btn {
        .btn-submit {
          display: none;
        }
      }
    }

    &#form-step-03 {
      .title-summary {
        display: block !important;
      }

      .box-step {
        display: block;

        &.box-profile {
          margin-top: 60px;
          margin-bottom: 60px;

          @include screen("mobile-l") {
            margin-top: 30px;
            margin-bottom: 30px;
          }

          .text-remark {
            display: none;
          }
        }

        &.box-model {
          .select-model {
            margin-top: 20px !important;
          }

          .row-relate {
            @include screen("mobile-l") {
              display: block !important;

              .group-form {
                width: 100% !important;
                background-color: #fff !important;
                padding: 0 !important;

                & + .group-form {
                  margin-top: 48px;
                }
              }
            }
          }
        }

        h2 {
          text-align: left;
        }
      }

      .group-btn {
        .btn-next {
          display: none;
        }
      }
    }

    .form-style {
      position: relative;
    }

    a.btn-back {
      position: absolute;
      left: 0;
      top: -10px;

      @include screen("tablet-p") {
        left: -40px;
      }

      @include screen("mobile-p") {
        left: -24px;
        top: -5px;
      }
    }

    .title-page {
      margin-bottom: 26px;

      span {
        display: none;
      }
    }

    .text-remark {
      height: 90px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fefaf6;
      margin-bottom: 40px;
      font-weight: 500;
      font-size: 2.4rem;
      color: $sub-color;

      @include screen("mobile-p") {
        height: 80px;
        margin-bottom: 30px;
        font-size: 2.6rem;
      }

      p {
        margin: 0;
      }
    }

    .box-step {
      position: relative;
      display: none;

      &.fixed-show {
        display: block !important;
      }

      h2 {
        margin: 0 0 25px;
        font-weight: 500;
        font-size: 3rem;
        color: #000;

        @include screen("mobile-p") {
          margin-bottom: 15px;
          font-size: 2.8rem;
        }

        span {
          display: none;
        }
      }
    }

    .group-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 60px;

      @include screen("mobile-l") {
        margin-top: 60px;

        .btn {
          min-width: 0;
          width: 50%;
        }
      }

      @include screen("mobile-p") {
        flex-direction: column;

        .btn {
          width: 100%;

          &:nth-child(1) {
            order: 1;
          }
        }
      }

      .btn {
        margin-top: 0;

        & + .btn {
          margin-left: 16px;

          @include screen("mobile-p") {
            margin-left: 0;
            margin-bottom: 20px;
          }
        }
      }
    }
  }

  &.edit-form {
    .box-bg {
      background-color: #fefaf6;
      border-radius: 4px;
      padding: 30px;
      margin-bottom: 30px;
      font-weight: normal;
      font-size: 3rem;

      @include screen("mobile-p") {
        font-size: 2.4rem;
      }

      p {
        margin: 0;
      }

      strong {
        font-weight: 700;
        color: $sub-color;
      }
    }

    .box-btn-download {
      border-bottom: 1px dashed #c1c1c1;
      padding-bottom: 35px;
      margin-bottom: 35px;
    }

    .box-step {
      h2 {
        text-align: left;
      }

      .flex-content {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 22px;

        h2 {
          margin-bottom: 0;
        }

        .btn {
          width: 152px;
          min-width: 0;
          margin: 0;
        }
      }
    }

    .box-model {
      margin-top: 60px;
    }

    .form-style:not(.disabled-form) {
      .flex-content .btn {
        display: none;
      }

      .g-btn {
        display: none;
      }
    }
  }
}

.box-profile {
  .group-btn {
    margin-top: 45px !important;
  }
}

.box-model {
  .row-relate {
    @include screen("mobile-l") {
      display: block !important;

      .group-form {
        width: 100% !important;
        background-color: #fff !important;
        padding: 0 !important;

        & + .group-form {
          margin-top: 48px;
        }
      }
    }

    h2 {
      margin-bottom: 15px !important;
    }
  }
}
