.thank-you-page {
  .box-content {
    text-align: center;

    .inner {
      padding-right: 0;
      padding-left: 0;

      .title-page {
        margin-bottom: 20px;
      }

      .detail {
        padding: 0 22px;
        font-weight: 500;
        font-size: 2.5rem;

        @include screen("mobile-p") {
          font-size: 2.4rem;
        }

        p + br {
          display: none;
        }

        .box-number {
          width: 100%;
          height: 140px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #fefaf6;
          border-radius: 4px;
          margin: 20px 0;

          @include screen("mobile-p") {
            height: 122px;
          }

          p {
            margin: 0;

            @include screen("mobile-p") {
              font-size: 2.4rem;
            }

            strong {
              display: block;
              margin-top: 15px;
              font-weight: 500;
              font-size: 4.3rem;
              color: $sub-color;

              @include screen("mobile-p") {
                margin-top: 12px;
              }
            }
          }
        }
      }
    }

    .box-btn-download {
      margin: 40px 0 50px;

      @include screen("mobile-p") {
        margin: 30px 0;
      }
    }

    .box-banner {
      margin-bottom: 45px;

      img {
        width: 100%;
      }
    }

    .box-bg {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba($main-color, 0.07);
      border-radius: 4px;
      padding: 35px 20px;
      margin: 20px 0 60px;
      font-weight: normal;
      font-size: 2.3rem;

      @include screen("mobile-p") {
        padding: 20px;
        margin-bottom: 40px;
        font-size: 2.4rem;
      }

      p {
        margin: 0;
      }

      br {
        @include screen("tablet-l") {
          display: none;
        }
      }
    }
  }

  .group-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 22px;

    @include screen("mobile-p") {
      display: block;
    }

    .btn {
      @include screen("mobile-l") {
        width: 50%;
        min-width: 0;
      }

      @include screen("mobile-p") {
        width: 100%;
      }

      & + .btn {
        margin-left: 14px;

        @include screen("mobile-p") {
          margin-left: 0;
          margin-top: 14px !important;
        }
      }
    }
  }
}
