._hover-img {
  display: block !important;
  overflow: hidden !important;

  img {
    transform: scale(1) !important;
    transition: 0.25s $easeOut !important;
  }

  &:hover img {
    @include screen('hover') {
      transform: scale(1.05) !important;
    }
  }
}



._img-left {
  float: left !important;
  margin: 20px 20px 20px 0 !important;
}

._img-right {
  float: right !important;
  margin: 20px 0 20px 20px !important;
}



._align-right {
  text-align: right !important;
}

._align-left {
  text-align: left !important;
}

._align-center {
  text-align: center !important;
}

._align-justify {
  text-align: justify !important;
}



._clear-bold {
  font-weight: 400 !important;
}



._clear {
  content: '' !important;
  height: 0px !important;
  display: block !important;
  padding: 0 !important;
  margin: 0 !important;
  line-height: 0 !important;
  clear: both !important;
  overflow: hidden !important;
  visibility: hidden !important;
}

._clear-float:after {
  @extend ._clear;
}



._desktop-style {
  display: block !important;
}

._mobile-l-style {
  display: none !important;

  @include screen('mobile-l') {
    display: block !important;
  }
}

._mobile-p-style {
  display: none !important;

  @include screen('mobile-p') {
    display: block !important;
  }
}



._link-url {
  word-break: break-all !important;
}