@mixin screen($size, $width: 0px, $maxWidth: 0px) {
  @if ($size=='full-hd') {
    @media only screen and (min-width: 1920px) {
      @content;
    }
  }

  @else if ($size=='desktop') {
    @media only screen and (min-width: 1366px) {
      @content;
    }
  }

  @else if ($size=='max-1112') {
    @media only screen and (max-width: 1112px) {
      @content;
    }
  }

  @else if ($size=='ipad-pro-l') {
    @media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
      @content;
    }
  }

  @else if ($size=='ipad-pro-p') {
    @media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
      @content;
    }
  }

  @else if ($size=='tablet-l') {
    @media only screen and (max-width: 1024px) {
      @content;
    }
  }

  @else if ($size=='tablet-p') {
    @media only screen and (max-width: 1023px) {
      @content;
    }
  }

  @else if ($size=='iphone-x-l') {
    @media only screen and (min-width: 375px) and (max-width: 812px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 3) {
      @content;
    }
  }

  @else if ($size=='iphone-x-p') {
    @media only screen and (min-width: 375px) and (max-width: 812px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
      @content;
    }
  }

  @else if ($size=='iphone-xr-l') {
    @media only screen and (min-width: 414px) and (max-width: 896px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
      @content;
    }
  }

  @else if ($size=='iphone-xr-p') {
    @media only screen and (min-width: 414px) and (max-width: 896px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
      @content;
    }
  }

  @else if ($size=='mobile-l') {
    @media only screen and (max-width: 767px) {
      @content;
    }
  }

  @else if ($size=='mobile-p') {
    @media only screen and (max-width: 479px) {
      @content;
    }
  }

  @else if ($size=='min-width') {
    @media only screen and (min-width: $width) {
      @content;
    }
  }

  @else if ($size=='max-width') {
    @media only screen and (max-width: $width) {
      @content;
    }
  }

  @else if ($size=='custom-width') {
    @media only screen and (min-width: $width) and (max-width: $maxWidth) {
      @content;
    }
  }

  @else if ($size=='hover') {
    @media (hover: hover) {
      @content;
    }
  }

  @else if ($size=='not-hover') {
    @media (hover: none) and (pointer: coarse) {
      @content;
    }
  }
}

@mixin arrow($direction: 'down', $size: 5px, $color: #555, $customSize: $size) {
  width: 0;
  height: 0;

  @if ($direction=='left') {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-right: $customSize solid $color;
  }

  @else if ($direction=='right') {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $customSize solid $color;
  }

  @else if ($direction=='down') {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-top: $customSize solid $color;
  }

  @else {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: $customSize solid $color;
  }
}

@mixin center($position) {
  position: absolute;

  @if $position=='x' {
    left: 50%;
    transform: translateX(-50%);
  }

  @else if $position=='y' {
    top: 50%;
    transform: translateY(-50%);
  }

  @else if $position=='xy' {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@mixin retina($image, $width, $height) {

  @media (min--moz-device-pixel-ratio: 1.3),
  (-o-min-device-pixel-ratio: 2.6/2),
  (-webkit-min-device-pixel-ratio: 1.3),
  (min-device-pixel-ratio: 1.3),
  (min-resolution: 1.3dppx) {
    background-image: url($image);
    background-size: $width $height;
  }
}

@mixin placeholder {
  &.placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }

  &::-webkit-input-placeholder {
    @content;
  }
}

@mixin text-shorten {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin var-root($selector) {
  @at-root #{$selector}#{&} {
    @content;
  }
}

@mixin show-scroll($scroll-position) {
  overflow: hidden;

  &::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0.05);
    -webkit-appearance: none;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.8);
  }

  @if ($scroll-position=='x') {
    overflow-x: auto;

    &::-webkit-scrollbar:horizontal {
      height: 4px;
    }
  }

  @else if ($scroll-position=='y') {
    overflow-y: auto;

    &::-webkit-scrollbar:vertical {
      width: 4px;
    }
  }

  @else if ($scroll-position=='xy') {
    overflow: auto;

    &::-webkit-scrollbar:vertical {
      width: 4px;
    }

    &::-webkit-scrollbar:horizontal {
      height: 4px;
    }
  }
}

@mixin clear-col-bootstrap {
  width: auto;
  max-width: inherit;
  flex-basis: auto;
  flex-grow: 0;
}