$header-height: 80px;
$header-height-responsive: 65px;
$max-width: calc(100% - 30px);

$main-color: #00a8a9;
$sub-color: #ff6600;
$gray: #f5f5f5;
$paragraph-color: #484848;

$bg-gradient: linear-gradient(
  270deg,
  rgba(136, 205, 222, 1) 0%,
  rgba(0, 140, 194, 1) 29%,
  rgba(0, 69, 133, 1) 77%,
  rgba(0, 27, 75, 1) 100%
);
$bg-gradient-164deg: linear-gradient(
  164deg,
  rgba(136, 205, 222, 1) 0%,
  rgba(0, 140, 194, 1) 29%,
  rgba(0, 69, 133, 1) 77%,
  rgba(0, 27, 75, 1) 100%
);

$easeIn: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$easeOut: cubic-bezier(0.165, 0.84, 0.44, 1);
$easeInOut: cubic-bezier(0.77, 0, 0.175, 1);
