.animateScaleOut {
  animation: animateScaleOut 0.6s $easeOut;
}

.animateScaleIn {
  animation: animateScaleIn 1.2s $easeOut;
}

@keyframes animateScaleIn {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes animateScaleOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1.1);
  }
}



.fadeOut {
  animation: fadeOut 0.6s $easeOut;
}

.fadeIn {
  animation: fadeIn 1.2s $easeOut;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


@keyframes toMore {

  0%,
  100% {
    margin-top: 0;
  }

  50% {
    margin-top: 10px;
  }
}