* {
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
  outline: none;
}

body {
  background-color: $gray;
  margin: 0;
  padding: 0;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

blockquote {
  margin: 0 0 1rem;
}

label,
button {
  cursor: pointer;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

#wrapper {
  min-height: calc(100vh - #{$header-height});
  position: relative;
  margin: 0;
  overflow: hidden;

  * {
    box-sizing: border-box;

    &:before,
    &:after {
      box-sizing: border-box;
    }
  }
}

#header,
#main-content,
#footer {
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0;
}

#main-content {
  min-height: calc(100vh - #{$header-height} - 167px);
  padding-bottom: 2px;
  margin-top: $header-height;
  overflow: hidden;

  @include screen("tablet-p") {
    min-height: calc(100vh - #{$header-height} - 182px);
  }

  @include screen("mobile-p") {
    min-height: calc(100vh - #{$header-height-responsive} - 183px);
    margin-top: $header-height-responsive;
  }
}

.container {
  width: 1146px;
  max-width: $max-width;
  position: relative;
  padding: 0;
  margin: 0 auto;
}

.box-content {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(#000, 0.12);
  margin-top: 385px;

  @include screen("max-1112") {
    margin-top: 36vw;
  }

  @include screen("mobile-p") {
    margin-top: -35vw;
  }

  & + .box-content {
    margin-top: 16px;

    @include screen("mobile-p") {
      margin-top: 14px;
    }
  }

  .inner {
    padding: 65px 80px 80px;

    @include screen("tablet-l") {
      padding: 30px;
    }

    @include screen("mobile-p") {
      padding: 30px 15px;
    }
  }
}

.img-bg {
  width: 1920px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);

  @include screen("max-1112") {
    width: 178vw;
  }

  @include screen("mobile-p") {
    width: 101%;
    position: relative;
    left: 0;
    transform: translateX(0);
  }

  img {
    width: 100%;
    height: auto;
  }

  &.bg-promotion + .container .box-content {
    @include screen("mobile-p") {
      margin-top: -18vw;
    }
  }
}

.title-page {
  margin: 0 0 30px;
  text-align: center;

  @include screen("mobile-p") {
    margin-bottom: 20px;
  }

  .title {
    margin-bottom: 15px;
    font-size: 40px;
    line-height: 0.9;
    color: $main-color;

    @include screen("mobile-p") {
      font-size: 3.6rem;

      br {
        display: none;
      }
    }
  }

  .sub-title {
    font-weight: 500;
    font-size: 2.5rem;

    @include screen("mobile-p") {
      font-size: 2.4rem;
    }
  }
}

br.show-all {
  display: initial !important;
}

br.mobile-l {
  display: none !important;

  @include screen("mobile-l") {
    display: initial !important;
  }
}

br.mobile-only {
  display: none !important;

  @include screen("mobile-p") {
    display: initial !important;
  }
}

.mobile-hide {
  color: inherit !important;

  @include screen("mobile-p") {
    display: none !important;
  }
}

.logo-m-series {
  display: inline;

  @include screen("mobile-p") {
    width: 126px;
  }
}
