// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@font-face {
  font-family: "kittithada";
  src: url("../fonts/kittithada/psl242pro-webfont.woff2") format("woff2"),
    url("../fonts/kittithada/psl242pro-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "kittithada";
  src: url("../fonts/kittithada/psl243pro-webfont.woff2") format("woff2"),
    url("../fonts/kittithada/psl243pro-webfont.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "kittithada";
  src: url("../fonts/kittithada/psl244pro-webfont.woff2") format("woff2"),
    url("../fonts/kittithada/psl244pro-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "kittithada";
  src: url("../fonts/kittithada/psl247pro-webfont.woff2") format("woff2"),
    url("../fonts/kittithada/psl247pro-webfont.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "kittithada";
  src: url("../fonts/kittithada/psl245pro-webfont.woff2") format("woff2"),
    url("../fonts/kittithada/psl245pro-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "kittithada";
  src: url("../fonts/kittithada/psl248pro-webfont.woff2") format("woff2"),
    url("../fonts/kittithada/psl248pro-webfont.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
