html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font: 400 2.3rem/1em "kittithada", Arial, Helvetica, sans-serif;
  text-align: left;
  color: $paragraph-color;

  @include screen("mobile-p") {
    font-size: 2.4rem;
  }
}

::selection {
  background-color: $main-color;
  color: #fff;
}

::-moz-selection {
  background-color: $main-color;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem;
  font-weight: 500;
  line-height: 1;

  &.underline {
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 15px;

    &:after {
      content: "";
      width: 52px;
      height: 2px;
      display: block;
      background-color: $main-color;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.6em;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.6rem;
}

b,
strong {
  font-weight: 500;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

em {
  font-style: italic;
}

p {
  margin: 0 0 1rem;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

a {
  transition: color 0.3s $easeOut;

  &:link,
  &:visited {
    color: inherit;
    text-decoration: none;
  }

  &:not(.btn):hover {
    @include screen("hover") {
      color: $main-color;
    }
  }

  &:active {
    color: $main-color;
  }
}
